[defaults]
inventory = hosts ; default qiymat /etc/ansible/hosts
host_key_checking = False
timeout = 5
forks = 5
remote_user = admin
private_key_file = /home/otabek/.ssh/id_ed25519
log_path = ./ansible.log
roles_path = /home/otabek/devops_homeworks/Ansible1/roles
interpreter_python = /usr/bin/python3

[privilege]
;become = yes
become_method = sudo ; su / does
become_user = root

[gathering]
gather_facts = no
gather_subset = network ; all / hardware / minimal

[executing_tasks]
strategy = debug # tasklarni navbat bilan ketma ket serverda bajaradi.
; free / linear /
pipelining = True